body{
    background-image: url(pngtree-the-rain-on-the-window-reflects-the-city-street-scene-picture-image_3375302.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:Verdana, Tahoma, sans-serif;   
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 120px;
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.wrapperr{
    width: 100%;
    min-height: 10vh;
    overflow:hidden;

}
.row{
    width: 100%;
    padding: 50px 100px;
}
.image-selection{
    width: 30%;
    float: left;
}
.image-selection img{
    width: 100%;
    height: auto;
    border-radius: 40px;
}
.content{
    width: 60%;
    float: left;
    margin-left: 50px;
}
.content h1{
    font-size: 90px;
    letter-spacing: 3.5px;
    margin-top:25px;
    color: #f7f3f3;
}
.content p{
    font-size: 20px;
    font-family: verdana;
    margin-top: 10px;
    line-height: 1.5;
    color: #e7eee7;
}
.logo{
    
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

nav a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

nav a:hover{
    color: rgb(10, 83, 194);
}

section{
    min-height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}
.containerr {
    margin: 100px 0 0 0 200px;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.containerr img{
    width: 15%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgb(247, 243, 243);
    transition:all ease-in-out 0.5s;
}
.containerr img:hover{
    width:50%;
}

.wrapper{
    margin: 150px auto;
    width: 70%;
}

.text-box{
    color: rgb(255, 255, 255);
}

.text-box h1{
    font-size: 42px;
}

.text-box h3{
    font-size: 16px;
}

section.contact{
    min-height: 100vh;
    background-color: #e8f0fe;
    padding:50px;
    text-align: center;
}
section.container{
    max-width: 800px;
    margin:0 auto;
}
.container h2{
    font-size: 36px;
    margin-bottom: 40px;
    color: #f5efef;
}
.contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;

}
.contact-form{
    text-align: left;
}
.contact-form h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #f5efef;
}
.form-group{
    margin-bottom: 20px;    
}
input, textarea{
    width:100%;
    padding:12px;
    border-radius:8px;
    border:none;
    background-color: #f8f9fa;
    color:#333;
}
input:focus
textarea:focus{
    outline: none;
    box-shadow: 0 0 8px #141414;
}
button{
    display: inline-block;
    padding: 12px 24px;
    margin: 22px 2px;
    background-color: #e7eee7;
    color:#0f0a0a;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s ease;
}
button:hover{
    background-color: #45a049;
}
.contact-info{
    text-align: left;
}
.contact-info h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: aliceblue;
}

/* footer */
.footer{
    min-height: 10vh;
    padding: 40px 0;
    background-color: #141414;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}

.footer .social a{
    font-size: 24px;
    color:inherit;
    border:1px solid white;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin:0 8px;
    opacity:0.75;
}
.footer .social a:hover{
    opacity: 0.9;
}